CONFIG_MACH_OMAP_BN=y
CONFIG_MACH_OMAP_ACCLAIM=y
CONFIG_CMDLINE="mem=1G vmalloc=496M androidboot.hardware=acclaim androidboot.selinux=permissive omapfb.fb_opt=-1,-1,-1,1,1024,600"
# CONFIG_CMDLINE_EXTEND is not set
CONFIG_CMDLINE_FORCE=y
CONFIG_BT_HCIUART=m
CONFIG_MAC80211_HAS_RC=y
CONFIG_MAC80211_RC_MINSTREL=y
CONFIG_MAC80211_RC_MINSTREL_HT=y
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=y
CONFIG_MAC80211_RC_DEFAULT="minstrel_ht"
CONFIG_MAC80211_LEDS=y
CONFIG_MAC80211_DEBUGFS=y
# CONFIG_NFC_DEVICES is not set
# CONFIG_CAIF is not set
# CONFIG_CAIF_HSI_OMAP is not set
CONFIG_BLK_DEV_UB=y
CONFIG_INPUT_MOUSEDEV_SCREEN_X=1024
CONFIG_INPUT_MOUSEDEV_SCREEN_Y=600
CONFIG_TOUCHSCREEN_FT5X06=y
CONFIG_INPUT_KXTF9=y
CONFIG_BATTERY_MAX17042=y
CONFIG_CHARGER_MAX8903=y
CONFIG_OMAP2_DSS_SLEEP_AFTER_VENC_RESET=y
CONFIG_PANEL_BOXER=y
CONFIG_LEDS_OMAP_PWM=y
CONFIG_OMAP_PWM_LED_TYPE_DMTIMER=y
CONFIG_USB_SERIAL=y
CONFIG_USB_GADGET_VBUS_DRAW=500
CONFIG_MMC_PARANOID_SD_INIT=y
CONFIG_FB_EARLYSUSPEND=n
# CONFIG_SND_OMAP_SOC_OMAP_HDMI is not set
# CONFIG_SND_OMAP_SOC_OMAP_ABE_TWL6040 is not set
CONFIG_SND_OMAP_SOC_OMAP4_PANDA_AIC31XX=y
CONFIG_SND_SOC_TLV320AIC31XX=y

