CONFIG_MACH_TUNA=y
CONFIG_USE_AMAZON_DUCATI=y
# CONFIG_OMAP_SO_MAP_FORCE is not set
CONFIG_OMAP_TPS6236X=y
CONFIG_CMDLINE="console=ttyFIQ0 androidboot.console=ttyFIQ0 mem=1G omap_wdt.timer_margin=30 vmalloc=496M androidboot.selinux=permissive omapfb.fb_opt=-1,-1,-1,1,720,1280"
# CONFIG_BT_HCIBTUSB is not set
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_H4=y
# CONFIG_BT_HCIVHCI is not set
# CONFIG_BT_MRVL is not set
# CONFIG_BT_WILINK is not set
# CONFIG_CFG80211_WEXT is not set
CONFIG_RFKILL_INPUT=y
CONFIG_NFC_DEVICES=y
CONFIG_PN544_NFC=y
# CONFIG_CAIF is not set
# CONFIG_CAIF_HSI_OMAP is not set
CONFIG_PROC_EVENTS=y
CONFIG_SAMSUNG_JACK=y
CONFIG_USB_SWITCH_FSA9480=y
CONFIG_MPU_SENSORS_TIMERIRQ=y
CONFIG_INV_SENSORS=y
CONFIG_MPU_SENSORS_MPU3050=y
# CONFIG_TI_ST is not set
CONFIG_IFB=y
CONFIG_BCMDHD=y
CONFIG_BCMDHD_FW_PATH="/system/vendor/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/wifi/bcmdhd.cal"
CONFIG_CFG80211=y
# CONFIG_WL12XX_MENU is not set
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_JOYDEV is not set
# CONFIG_KEYBOARD_ATKBD is not set
# CONFIG_KEYBOARD_GPIO is not set
# CONFIG_INPUT_MOUSE is not set
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_INPUT_KEYCHORD=y
# CONFIG_INPUT_TWL6030_PWRBUTTON is not set
CONFIG_INPUT_GPIO=y
CONFIG_SERIO_LIBPS2=y
CONFIG_OPTICAL_GP2A=y
CONFIG_GPIO_TWL4030=y
CONFIG_PDA_POWER=y
CONFIG_BATTERY_MAX17040=y
# CONFIG_HWMON is not set
# CONFIG_THERMAL is not set
# CONFIG_RADIO_ADAPTERS is not set
CONFIG_SII9234=y
CONFIG_FB_OMAP_BOOTLOADER_INIT=y
# CONFIG_OMAP2_DSS_DPI is not set
CONFIG_PANEL_S6E8AA0=y
CONFIG_BACKLIGHT_GENERIC=y
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
# CONFIG_USB_NET_QMI_WWAN is not set
# CONFIG_USB_HSO is not set
# CONFIG_USB_CDC_PHONET is not set
# CONFIG_RFKILL_STE is not set
CONFIG_USB_GADGET_VBUS_DRAW=500
CONFIG_MMC_PARANOID_SD_INIT=y
CONFIG_LEDS_OMAP4430_SDP_DISPLAY=y
CONFIG_LEDS_OMAP4430_SDP_KEYPAD=y
# CONFIG_THERMAL_FRAMEWORK is not set
CONFIG_XZ_DEC=y
CONFIG_XZ_DEC_X86=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_XZ_DEC_IA64=y
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_TEST is not set
# CONFIG_SND_USB_AUDIO is not set
CONFIG_OMAP4_IPU_CMA_SIZE=0x3A00000
