CONFIG_MACH_OMAP_4430_KC1=y
CONFIG_OTTER2=y
CONFIG_FORCE_SILICON_PERFORMANCE=y
CONFIG_WIFI_CONTROL_FUNC=y
# CONFIG_OMAP_SO_MAP_FORCE is not set
CONFIG_OMAP4_HS_SECURE_SRAM_SIZE=56
CONFIG_CMDLINE="mem=1G console=null omapfb.fb_opt=-1,-1,-1,1,1024,600 androidboot.selinux=permissive"
# CONFIG_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_CMDLINE_FORCE=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y
# CONFIG_CAIF is not set
CONFIG_CMA_SIZE_MBYTES=8
# CONFIG_TI_ST is not set
CONFIG_INPUT_MOUSEDEV_SCREEN_X=1024
CONFIG_INPUT_MOUSEDEV_SCREEN_Y=600
# CONFIG_KEYBOARD_OMAP4 is not set
CONFIG_INPUT_JOYSTICK=y
CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_TOUCHSCREEN_ILITEK_SWAP_XY=y
# CONFIG_TOUCHSCREEN_ILITEK_FLIP_X is not set
CONFIG_TOUCHSCREEN_ILITEK_FLIP_Y=y
CONFIG_INPUT_BMA250=y
CONFIG_INPUT_STK_ALS22x7=y
CONFIG_STK_ALS_CHANGE_THRESHOLD=20
CONFIG_STK_ALS_SAMPLING_RATE=10
CONFIG_STK_ALS_TRANSMITTANCE=500
CONFIG_CM_ALS_TRANSMITTANCE=169
CONFIG_INPUT_KEYCHORD=y
CONFIG_INPUT_GPIO=y
CONFIG_GPIO_TWL4030=y
# CONFIG_TWL6040_CORE is not set
CONFIG_BATTERY_BQ27541_Q=y
CONFIG_SUMMIT_SMB347_Q=y
CONFIG_SENSORS_LM75=y
# CONFIG_RADIO_ADAPTERS is not set
CONFIG_ION_OMAP_USE_DYNAMIC_PAGES=y
CONFIG_FB_OMAP_BOOTLOADER_INIT=y
CONFIG_PANEL_OTTER1=y
CONFIG_BACKLIGHT_O2M=y
# CONFIG_USB_EHCI_HCD is not set
CONFIG_USB_GADGET_VBUS_DRAW=500
CONFIG_LEDS_OTTER_BUTTON=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_DRM_OMAP_DCE=y
CONFIG_OMAP4_IPU_CMA_SIZE=0x0
# CONFIG_SND_OMAP_SOC_OMAP_HDMI is not set
# CONFIG_SND_OMAP_SOC_OMAP_ABE_TWL6040 is not set
CONFIG_SND_OMAP_SOC_OMAP4_PANDA_AIC31XX=y
CONFIG_SND_SOC_TLV320AIC31XX=y

