menuconfig ION
	tristate "Ion Memory Manager"
	select GENERIC_ALLOCATOR
	select DMA_SHARED_BUFFER
	help
	  Chose this option to enable the ION Memory Manager.

config ION_TEGRA
	tristate "Ion for Tegra"
	depends on ARCH_TEGRA && ION
	help
	  Choose this option if you wish to use ion on an nVidia Tegra.

config ION_OMAP
	tristate "Ion for OMAP"
	depends on (ARCH_OMAP5 || ARCH_OMAP4) && ION && DRM_OMAP
	help
	  Choose this option if you wish to use ion on OMAP4/5.
	  This option shall be chosen if ion carveout is required
	  for OMAP4/5. The corresponding board file shall also have
	  the ion carveout implementation.

config ION_SYSTEM_HEAP_SYNCHRONOUS_FREE
	bool "Ion system heap using synchronous free"
	depends on ION
	help
	  Choose this option to make the system heap not use deferred free,
	  effectively making the free function synchronous.

config ION_SYSTEM_HEAP_POOL_ONLY
	bool "Ion system heap using pool memory only"
	depends on ION
	help
	  Choose this option to force all memory allocations to be pooled.
	  Currently, only uncached memory is pooled, while cached buffers are
	  allocated from the heap. Enabling this option will make cached
	  buffers to be pooled along with the uncached ones.
